#main {
    display: inline-block;
    height: 100%;
    width: 100%;
}

#nav {
    height: 100%;
    width: 15%;
    float: left;
}

#container {
    padding: 3%;
    float: left;
    height: 100%;
    width: 85%;
    background: #eeeeee;

}
#logout-btn{
    background-color: red;
}

#filter-card{
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
}
#filter-container{
    margin-bottom: 3px;
}